---
- name: Create Grafana directory
  file:
    path: /opt/grafana
    state: directory
    mode: '0755'

- name: Copy Grafana files
  copy:
    src: "{{ item }}"
    dest: "/opt/grafana/{{ item }}"
    mode: '0644'
  with_items:
    - docker-compose.yml
    - provisioning
    - dashboards

- name: Start Grafana container
  community.docker.docker_compose_v2:
    project_src: /opt/grafana
    state: present
